html{
		height:100%;
}

body{
	margin: 20px;
  padding: 0;
  font-family: sans-serif;
  background: #f4f4f4;
	min-height: 800px;
}

#parentAll{
	display:grid;
}

#root{
	display:inline-block;
}

#github{
	position:relative;
	display:inline-block;
	font-size: 25px;
	text-decoration: none;
	color:black;
	margin-top:20px;
}

#github:hover{
	text-decoration: none;
	color:#c42929;
}

#anthonyHeader{
	text-decoration: none;
	font-size: 20px;
	color:black;
}

#anthonyHeader:hover{
	text-decoration: none;
	color:#c42929;
}

#entryMenu{
	position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	border: 3px solid #498fff;
	padding: 2em 2em 2em 2em;
	text-align: center;
}

#entryInputField{
	outline-style: auto;
}

#gameParent{
	display:grid;
	position:relative;
	line-height: 20px;
	text-align: center;
}

#gameBoard{
	display:inline-block;
	position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	border: 3px solid #498fff;
	border-radius: 10px;
	padding: 2em 2em 2em 2em;
	text-align: center;
	width: 420px;
	height: 420px;
}

#gameTitle{
	display:inline-block;
	position: relative;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%, -5%);
  transform: translate(-50%, -5%);
	text-align: center;
	width: 300px;
	height: 150px;
	line-height: 20px;
}

#gameReturnParent{
	position:relative;
	text-align: center;
	display:inline-block;
}

#gameReturnButton{
	margin-top: 10px;
	background-color: white;
	color: black;
	border: 2px solid #498fff;
	width:100px;
	height:30px;
	border-radius: 10px;
}

#gameReturnButton:hover{
	background-color: #498fff;
  color: white;
}

#hiddenTile{
	background: #7b7b7b;
	border: 1px solid #151616;
	float: left;
	line-height: 40px;
	height: 40px;
	text-align: center;
	width: 40px;
	cursor: pointer;
	border-radius: 10px;
	color: #fff;
	font-weight: 600;
}

#hiddenTile:hover{
	background: #4f4e4e;
}

#mineTile{
	background: red;
	border: 1px solid #151616;
	float: left;
	line-height: 40px;
	height: 40px;
	text-align: center;
	width: 40px;
	cursor: pointer;
	border-radius: 10px;
	color: #fff;
	font-weight: 600;
}

#normalTile{
	background: #989da5;
	border: 1px solid #151616;
	float: left;
	line-height: 40px;
	height: 40px;
	text-align: center;
	width: 40px;
	cursor: pointer;
	border-radius: 10px;
	color: #fff;
	font-weight: 600;
}

#emptyTile{
	background: #989da5;
	border: 1px solid #151616;
	float: left;
	line-height: 40px;
	height: 40px;
	text-align: center;
	width: 40px;
	cursor: pointer;
	border-radius: 10px;
	color: #fff;
	font-weight: 600;
}
