<!doctype html>
<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" href={% static "style.css" %} />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body oncontextmenu="return false">
		<div id = "root"></div>
		<a id = "github" href="https://github.com/anthonydroberts" target="_blank">
			<i class = "fab fa-github-square"></i> Github
		</a>

		<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
		<!-- Don't use this in production: -->
		<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
		<script type="text/babel" src={% static "app.js" %}></script>
	</body>

</html>
